.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1em;
    padding: 1em;
    border-style: groove;
    border-width: 1px;
}
.game input {
    font-size: 2em;
    text-align: center;
  }
  .game.hangman .play-area p {
    display: inline;
  }
  .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .app .games {
    display: flex;
    flex-direction: column-reverse;
  }
  .game.hangman .play-area p {
    display: inline;
  }
  
  .game.hangman input {
    width: 1em;
    font-size: 2em;
  }
  
  .game.hangman .letters {
    font-size: 4em;
  }
  

.move.win {
    color: green;
}
.move.tie {
    color: orange;
}
.move.loss {
    color: red;
}
